.btn-primary, .btn-primary:focus, .btn-primary:active {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.btn-primary:hover {
    background-color: var(--btn-primary-hover-bg);
}

.btn-secondary, .btn-secondary:focus, .btn-secondary:active {
    background-color: var(--bs-secondary);
    border-color: var(--bs-secondary);
    color: #fff;
    
}

.btn-secondary {
    &:hover {
        background-color: var(--bs-secondary-lighter);
        border-color: var(--bs-secondary);
    }
}